
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <div class="card d-flex justify-content-center mx-auto "style="width: 18rem;margin-top: 6em;margin-bottom:4em">
        <div class="card-body">
          {% include 'includes/alerts.html' %}
            <form class="container d-flex justify-content-center" action="{% url 'otp' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="formGroupExampleInput">Enter the OTP we sent to your registered mobile number.</label>
                  <input type="number" class="form-control mt-2"  placeholder="Enter the  otp"  style="width: 80%;" name="otp">
                 
                 <button type="submit" class="btn btn-primary mt-2" id="ver_btn" style="width: 11rem;" >
                    Verify
                 </button>
                  
                </div>
                
              </form>
             <a href="{% url 'resend' %}"><button class="btn btn-warning mt-2" id="resend_btn" style="display: none;">
              Resend
           </button></a> 
              <div class="d-flex">
                <span class="text-danger" id="resend_otp">Resend OTP in</span>
                <h6 class="ml-2"id="count"></h6>
              </div>
        </div>
    </div>
   <script>

    
      var i =60;
      var min=0;
      var sec=60;
      var x = setInterval(function(){
        if(i>=0){
          if(sec<60){
            se='0'+sec
          }
          else{
            se=sec
          }
          document.getElementById("count").innerHTML = '0'+min+':'+se;
          i--;
          if(sec==0){
            sec=59;
            min--;
          }
          else{
            --sec;
          }
        }
        else{
          clearInterval(x);
          document.getElementById("resend_btn").style.display='block'
          document.getElementById("count").style.display='none'
          document.getElementById("resend_otp").style.display='none'

        }
        
      },1000)


   </script>
   
{% endblock content %}