{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}

<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <!-- <div class="main-title">
                                <h3 class="m-0">Users</h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <a href="{% url 'admin_users_list' %}" ><h4 style="color: cornflowerblue;">Users List</h4></a>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form  action="{% url 'search' %}" method="GET">
                                                {% csrf_token %}
                                                <div class="search_field">
                                                    <input type="text"  placeholder="Search content here..." name="search">
                                                </div>
                                                <!-- <button type="submit"><i class="ti-search"></i> </button> -->
                                            </form>
                                        </div>
                                    </div>
                                    <!-- <div class="add_button ml-10">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Add New</a>
                                    </div> -->
                                </div>
                            </div>
    
                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class=" table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Second Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Active</th>
                                            <th scope="col">Blocked/Unblocked</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for user in users %}
                                        {% if not user.is_superuser %}
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> {{ user.first_name }}</a></th>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone_number}}</td>
                                            <td>{{ user.username}}</td>
                                            {% if user.is_active %}
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            {% else %}
                                            <td><a href="#" class="status_btn_red">Not Active</a></td>
                                            {% endif %}
                                            {% if user.is_active %}
                                            <td><a href="{% url 'block' user.id %}" class="status_btn_block">Block</a></td>
                                            {% else %}
                                            <td><a href="{% url 'unblock' user.id %}" class="status_btn_unblock">UnBlock</a></td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .status_btn_block{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: rgb(240, 240, 240) !important;
        background: #eb0b0b;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
    .status_btn_unblock{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: rgb(5, 5, 5) !important;
        background: #16df0f;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      .status_btn_red{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: #fff !important;
        background: #e67327;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      
</style>
{% endblock content %}
