{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}





<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <!-- <div class="main-title">
                                <h3 class="m-0">Users</h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            {% include 'includes/alerts.html' %}
                            <div class="white_box_tittle list_header">
                               
                                <h4>Products List</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <!-- <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div> -->
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="{% url 'admin_add_product' %}"  class="btn_1">Add Product</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class=" table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Slug</th>
                                            <!-- <th scope="col">Image</th> -->
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock</th>
                                            <th scope="col">Available</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Created Date</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for product in products %}
                                        
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> {{ product.product_name }}</a></th>
                                            
                                            <td>{{ product.slug }}</td>
                                            <!-- <td>{{ product.images }}</td> -->
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.stock }}</td>
                                              {% if product.is_available and product.stock > 0 %}
                                            <td>Stock</td>
                                            {% else %}
                                            <td class="text-danger">Out of Stock</td>
                                            {% endif %}
                                            <td>{{ product.category}}</td>
                                            <td>{{ product.created_date }}</td>
                                            <td><a href="{% url 'admin_update_product' product.id %}" class="status_btn_edit">Edit</a></td>
                                            <td><a class="status_btn_delete"onclick="deleteBtn({{product.id}})" id="basic_alert">Delete</a></td>
                                            <!-- {% if user.is_active %}
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            {% else %}
                                            <td><a href="#" class="status_btn_red">Not Active</a></td>
                                            {% endif %}
                                            {% if user.is_active %}
                                            <td><a href="{% url 'block' user.id %}" class="status_btn_block">Block</a></td>
                                            {% else %}
                                            <td><a href="{% url 'unblock' user.id %}" class="status_btn_unblock">UnBlock</a></td>
                                            {% endif %} -->
                                        </tr>
                                        
                                        {% endfor %}

                                        <script>
                                            function deleteBtn(id){
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "Do you really want to delete  it!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    confirmButtonText: 'Yes, delete it!'
                                                  }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        window.location='/admin_panel/p_delete/'+id+'/'
                                                    }
                                                  })
                                            }
                                        </script>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .status_btn_edit{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: rgb(5, 5, 5) !important;
        background: #e6e206;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      .status_btn_delete{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: #fff !important;
        background: #e61e10;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      
</style>

<script type="text/javascript">
    function delete_button(){
        swal('hello')
    }
    
</script>
<script src="@@path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<link type="text/css" href="@@path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
{% endblock content %}
