{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}

<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <!-- <div class="main-title">
                                <h3 class="m-0">Users</h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="white_card_body">
                        {% include 'includes/alerts.html' %}
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Variation List</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <!-- <input type="text" placeholder="Search content here..."> -->
                                                </div>
                                                <!-- <button type="submit"> <i class="ti-search"></i> </button> -->
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="{% url 'add_variation' %}"  class="btn_1">Add Variation</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="QA_table mb_30">
                                
                                <table class=" table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Variation Category</th>
                                            
                                            <th scope="col">Variation Value</th>
                                            <th scope="col">Edit</th>
                                            <!-- <th scope="col">Delete</th> -->
                                           
                                            <!-- <th scope="col">Username</th>
                                            <th scope="col">Active</th>
                                            <th scope="col">Blocked/Unblocked</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for variation in variations %}
                                        
                                        <tr>
                                            <th scope="row"> <a href="" class="question_content"> {{ variation.product }}</a></th>
                                            <td>{{ variation.variation_category }}</td>
                                            <td>{{ variation.variation_value }}</td>
                                            <!-- <td>{{ user.email }}</td>
                                            <td>{{ user.phone_number}}</td>
                                            <td>{{ user.username}}</td> -->
                                            
                                            <!-- <td><a href="#" class="status_btn">Active</a></td -->
                                           
                                            
                                            <td><a href="{% url 'edit_variation' variation.id %}" class="status_btn_edit">Edit</a></td>
                                            <!-- <td><a href="" class="status_btn_delete">Delete</a></td> -->
                                            
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .status_btn_edit{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: rgb(5, 5, 5) !important;
        background: #e6e206;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      .status_btn_delete{
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        font-weight: 600;
        color: #fff !important;
        background: #e61e10;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        min-width: 70px;
        text-align: center;
      }
      
</style>
{% endblock content %}