{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
        {% include 'includes/alerts.html' %}
        <!-- ============================ COMPONENT 1 ================================= -->
        <!-- <a href="#" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Add new address </a>  -->
        <div class="d-md-flex" style="justify-content: space-evenly;">
            <aside class="">
                {% for table in add_table %}
                <div class="card mt-3"> 
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="form-check col-4">
                                <h6 class="text">Use this address</h6>
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="table_radio"onclick="address({{ table.id }})">
                                <label class="form-check-label" for="flexRadioDefault1">

                                    <span>{{ table.first_name }}</span>
                                    <span>{{ table.last_name }}</span>
                                    <span>{{ table.phone }}</span>
                                    <span>{{ table.email }}</span>
                                    <span>{{ table.address_line_1 }}</span>
                                    <span>{{ table.address_line_2 }}</span>
                                    <span>{{ table.state }}</span>
                                    <span>{{ table.city }}</span>
                                    <!-- <a href="#" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Add new address </a> -->
                                </label>
                                <div class="mt-3">
                                    <a href="" ><a href="{% url 'user_address_edit' table.id %}" class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="#" class="btn btn-light"> <i class="text-danger fa fa-trash"></i>  </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </aside> <!-- col.// -->

            <div class="card ">
                <div class="card-body">
                    
                    <form action="{% url 'place_order' %}" method="POST">
                        <h4 class="card-title">Add New Address</h4>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">First Name</label>
                                <input type="text" name="first_name" class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="">Last Name</label>
                                <input type="text" name="last_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Email</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="">Phone Number</label>
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Address 1</label>
                                <input type="text" name="address_line_1" class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="">Address 2</label>
                                <input type="text" name="address_line_2" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">State</label>
                                <input type="text" name="state" class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="">City</label>
                                <input type="text" name="city" class="form-control">
                            </div>
                        </div>

                </div>

            </div>

        </div>
        <div class="row">
            <aside class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_items %}
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="#"
                                                    class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                <!-- <p class="text-muted small">Color: 25 Mpx <br> Size: Canon</p> -->
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{ cart_item.quantity }}</label>

                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$.{{ cart_item.sub_total }}</var>
                                            <small class="text-muted" style="color: black !important;">
                                                $.{{ cart_item.product.offer_price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>

                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ pro.images.url }}"
                                                    class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="#"
                                                    class="title text-dark">{{ pro.product_name }}</a>
                                                <!-- <p class="text-muted small">Color: 25 Mpx <br> Size: Canon</p> -->
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">1</label>

                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$.{{ pro.offer_price  }}</var>
                                            <small class="text-muted" style="color: black !important;">
                                                $.{{ pro.offer_price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>

                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Place order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        <input type="hidden" id="addr_id" value="-1" name="addr_id">
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
</section>

<script>
    function address(id) {
        document.getElementById('addr_id').value = id
    }
</script>
{% endblock content %}