{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">Our Store</h2>

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">

								<ul class="list-menu">
									<li><h6><a href="{% url 'store' %}">All products</a></h6></li>
									{% for category in links %}
									<li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
									{% endfor %}
								</ul>

							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Brands</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">

								<ul class="list-menu">
									<li><h6><a href="{% url 'store' %}">All brands</a></h6> </li>
									{% for brand in links_brand %}
									<li><a href="{{ brand.get_absolute_url }}">{{ brand.brand_name }}</a></li>
									{% endfor %}
								</ul>

							</div> <!-- card-body.// -->
						</div>
					</article>
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Sizes </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_4">
							<div class="card-body">
								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> XS </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> SM </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> LG </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> XXL </span>
								</label>
							</div>
						</div>
					</article> 

					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Price range </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_3">
							<div class="card-body">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Min</label>
										
										<select class="mr-2 form-control">
											<option value="0">$0</option>
											<option value="50">$50</option>
											<option value="100">$100</option>
											<option value="150">$150</option>
											<option value="200">$200</option>
											<option value="500">$500</option>
											<option value="1000">$1000</option>
										</select>
									</div>
									<div class="form-group text-right col-md-6">
										<label>Max</label>
										<select class="mr-2 form-control">
											<option value="50">$50</option>
											<option value="100">$100</option>
											<option value="150">$150</option>
											<option value="200">$200</option>
											<option value="500">$500</option>
											<option value="1000">$1000</option>
											<option value="2000">$2000+</option>
										</select>
									</div>
								</div>
								 <button class="btn btn-block btn-primary">Apply</button>
							</div> 
						</div>
					</article> 

				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>

					</div>
				</header><!-- sect-heading -->

				<div class="row">
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								<a href="{{ product.get_url }}">
									<img src="{{ product.images.url }}">
								</a>

							</div> <!-- img-wrap.// -->
							<figcaption class="info-wrap">
								<div class="fix-height">
									<h6>{{ product.brand }}</h6>
									<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
									{% if product.category.category_offer > 0 or product.offer > 0 %}
									<div class="price-wrap mt-2">
										<span class="price">${{ product.offer_price }}</span>
										<del>${{product.price}}</del>
										{% if product.category.category_offer >= product.offer %}
										<span style="color: rgb(34, 235, 44);">({{product.category.category_offer}}% off)</span>
									
										{% else %}
										<span style="color: rgb(34, 235, 44);">({{product.offer}}% off)</span>
										<h1>hello</h1>
										{% endif %}
									</div>
									{% else %}
									<div class="price-wrap mt-2">
										<span class="price">${{ product.price }}</span>

									</div>
									{% endif %} <!-- price-wrap.// -->
								</div>
								<div class="d-flex " style="text-align: center;">
									<div >
										<a href="{{ product.get_url }}" class="btn btn-block btn-primary" style="text-align: center;">view details </a>
									</div>
									<div class="ml-3">
										<a href="{{ product.get_url }}" class="btn btn-block btn-warning" style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
											<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
										  </svg></a>
									</div>
								</div>
								
							</figcaption>
						</figure>

					</div> <!-- col.// -->
					{% endfor %}



				</div> <!-- row end.// -->


				<nav class="mt-4" aria-label="Page navigation sample">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->


{% endblock content %}